---
import { Image } from "astro:assets";
import { getEntityRenderUrl } from "@ars/addon-builder";
import { getItemTooltip } from "../../utils/book-pages";

interface Props {
  entity: string;
  langByKey?: Map<string, string>;
}

const { entity, langByKey } = Astro.props;
const src = getEntityRenderUrl(entity);
const tooltipTitle = getItemTooltip(entity, langByKey);
---

<span class="book-entity d-inline-flex align-items-center gap-2">
  <Image
    data-bs-toggle="tooltip"
    data-bs-title={tooltipTitle}
    data-bs-placement="bottom"
    class:list={["book-entity__image", 'glyph']}
    src={src}
    alt={`${entity} render`}
    title={tooltipTitle}
    width={128}
    height={128}
    loading="lazy"
  />
</span>

<script>
  import { Tooltip } from 'bootstrap';

  document
    .querySelectorAll('[data-bs-toggle="tooltip"]')
    .forEach(tooltipTriggerEl => Tooltip.getOrCreateInstance(tooltipTriggerEl));
</script>
