---
import type { BookPageRecipeData } from "../../utils/book-pages";
import BookRecipe from "./BookRecipe.astro";

interface Props {
  recipes: BookPageRecipeData[];
}

const { recipes } = Astro.props;
---

{recipes.length > 0 && (
    <div class="book-recipes">
      {recipes.map(recipe => <BookRecipe recipe={recipe} />)}
    </div>
)}
