---
import {
  asRecipeRecord,
  asRecipeRecordArray,
  type BookRecipeRecord,
} from "../../../utils/book-recipes";
import BookRecipeIngredient from "../BookRecipeIngredient.astro";

interface Props {
  recipe: BookRecipeRecord;
}

const { recipe } = Astro.props;
const inputs = asRecipeRecordArray(recipe.inputs);
const result = asRecipeRecord(recipe.result) ?? asRecipeRecord(recipe.output);
---

<div class="book-recipe__flow">
  <div class="book-recipe-ingredients" aria-label="Inputs">
    {inputs.map(ingredient => <BookRecipeIngredient ingredient={ingredient} />)}
  </div>
  <span class="book-recipe__arrow" aria-hidden="true">→</span>
  <BookRecipeIngredient ingredient={result} label="Result" />
</div>
